<html>
    <head>
        <title>Patient Portal</title>
        <link rel="stylesheet" href="/static/style.css">
       
    </head>
    <body>
        <nav>
            <span>
                <a href="/register">Registrieren</a>
            </span>

            <span>
                <a href="/login">Login</a>
            </span>

             <span>
                <a href="/logout">Logout</a>
            </span>
            <span>
                <a href="/dashboard">Dashboard</a>
            </span>
            <span><a href="/accounts/oidc/school/login/">Mit Schul-E-Mail anmelden</a></span>
 
           
        </nav>
        {% block content %}
        Bitte Wählen sie eine Seite aus
        {% endblock content %}
   
    </body>
 
</html>
 